IF DB_ID('realEstate') IS NULL
CREATE DATABASE realEstate;
GO

USE [realEstate]
GO
/****** Object:  Table [dbo].[PropertyListings]    Script Date: 31-03-2026 13:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyListings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyType] [varchar](50) NULL,
	[PropertyValue] [bigint] NULL,
	[PropertyInfo] [varchar](500) NULL,
	[OwnerContactnbr] [nvarchar](20) NULL,
	[PropertyCity] [varchar](50) NULL,
	[PropertyAction] [varchar](20) NULL,
	[MoveInFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


-- Sample data
INSERT INTO PropertyListings 
(PropertyType, PropertyValue, PropertyInfo, OwnerContactnbr, PropertyCity, PropertyAction, MoveInFlag)
VALUES 
('villa', 5000000, 'Sample property', '9876543210', 'Pune', 'sell', 1);
GO